<footer class="footer"> 
	  <small> 
		Por: William Rojas. Todos los derechos reservados © 2015 ::. 
	  </small> 
	  <nav> 
	<ul>	 
		<li><a href="http://fiestaycumbia.herokuapp.com/">Fiesta Y Cumbia</a></li> 
	</ul> 
	  </nav> 
</footer>